resource "aws_cloudwatch_event_rule" "{{ job_name }}" {
  name                = "{{ job_name }}_trigger"
  description         = "EventBridge trigger for {{ job_name }} Step Functions execution"
  schedule_expression = "{{ cron_expression }}"
}

resource "aws_cloudwatch_event_target" "{{ job_name }}" {
  rule      = aws_cloudwatch_event_rule.{{ job_name }}.name
  target_id = "{{ job_name }}_sfn"
  arn       = aws_sfn_state_machine.{{ job_name }}.arn
  role_arn  = aws_iam_role.{{ job_name }}_eventbridge.arn
}

resource "aws_iam_role" "{{ job_name }}_eventbridge" {
  name = "{{ job_name }}_eventbridge_role"

  assume_role_policy = jsonencode({
    Version = "2012-10-17"
    Statement = [{
      Action    = "sts:AssumeRole"
      Effect    = "Allow"
      Principal = { Service = "events.amazonaws.com" }
    }]
  })
}

resource "aws_iam_role_policy" "{{ job_name }}_eventbridge" {
  name = "{{ job_name }}_eventbridge_policy"
  role = aws_iam_role.{{ job_name }}_eventbridge.id

  policy = jsonencode({
    Version = "2012-10-17"
    Statement = [{
      Effect   = "Allow"
      Action   = ["states:StartExecution"]
      Resource = [aws_sfn_state_machine.{{ job_name }}.arn]
    }]
  })
}
